<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/contact.css">
    <link rel="stylesheet" type="text/css" href="../styles/form.css">
    <title>CONTACT</title>
</head>
<body>
    <header>
        <div id="header">
            <div id="square"></div>
            <div id="title" class="inner">
                <h1 class="headings">Ahmed Ilyas</h1><h3 class="headings"> / </h3><h2 class="headings" id="role">UNITY GAME DEVELOPER</h2>
            </div>
            
            <div class="inner">
                <nav>
                    <ul>
                        <li><a href="../index.html">ABOUT ME</a></li>
                        <li><a href="Resume.html">RESUME</a></li>
                        <li><a href="projects.html">PROJECTS</a></li>
                        <li><a href="#" style="color: blue;">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>
    <main>
        <div id="contact_form">
            <div id="box_talk">
                <div id="box"></div>           
                <h1 id="talk">Let's talk</h1>   
            </div>
            <div id="main">  
                <div id="form_container">
                    <form>
                        <div id="top">
                        
                            <div class="f_l_name">
                                <label class="name_container">First Name*</label>
                                <input class="textField" type="text" maxlength="16" pattern="[a-z][A-Z]">
                                <hr>
                            </div>
                        
                            <div id="right" class="f_l_name">
                                <label class="name_container">Last Name*</label>
                                <input class="textField" type="text" maxlength="16" pattern="[a-z][A-Z]">
                                <hr>
                            </div>

                        </div>
                        <div id="email">
                            <label class="name_container">Email*</label>
                            <input class="textField" type="email" maxlength="20">
                            <hr>
                        </div>
                        <div id="subject">
                            <label class="name_container">Subject</label>
                            <input class="textField" type="text" maxlength="20" pattern="[A-Za-z0-9]">
                            <hr>
                        </div>
                        <div id="message">
                            <label class="name_container">Message</label>
                            <input class="textField"  type="text" maxlength="200" pattern="[A-Za-z0-9]">
                            <hr>
                        </div>
                        <div id="btn">
                            <input id="submitBtn" type="submit" value="SEND">
                        </div>
                    </form> 
                </div>
            </div>                
        </div>
    </main>
    <footer>
        <div id="footer">
            <div id="copyRight">
                <p>&copy 2025 By Ahmed Ilyas</p>
                <p>Powered and Secured By Wix</p>
            </div>
            <div id="contact">
                <ul id="required_info">
                    <li>Call</li>
                    <li>Write</li>
                    <li>Follow</li>
                </ul>
                <br>
                <br>
                <ul id="providedInfo">
                    <li id="number">0092-3324965827</li>
                    <li id="mail">ahmedilyas621@gmail.com</li>
                </ul>
                <ul id="socialBar">
                    <li><a href=""><img class="social_icons" src="../images/fb.png"></a></li>
                    <li><a href=""><img class="social_icons" src="../images/X.png"></a></li>
                    <li><a href=""><img class="social_icons" src="../images/link.png"></a></li>
                    <li><a href=""><img class="social_icons" src="../images/insta.png"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
