<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/projects.css" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <div id="header">
        <div id="square"></div>
        <div id="title" class="inner">
          <h1 class="headings">Ahmed Ilyas</h1>
          <h3 class="headings">/</h3>
          <h2 class="headings" id="role">UNITY GAME DEVELOPER</h2>
        </div>

        <div class="inner">
          <nav>
            <ul>
              <li><a href="../index.html">ABOUT ME</a></li>
              <li><a href="Resume.html">RESUME</a></li>
              <li><a href="#" style="color: blue">PROJECTS</a></li>
              <li><a href="contacts.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div id="resume_content">
        <div id="box_talk">
          <div id="box"></div>
          <h1 id="talk">Projects</h1>
        </div>
        <div id="project_intro">
          <p id="intro_para">
            I am Ahmed Ilyas, a Unity Game Developer with over 6 years of
            experience in professional games development. I am an excellent
            problem solver who enjoys tackling challenges that demand creative
            and out-of-the-box solutions. In addition to my technical skills, I
            am also a good communicator and an excellent team player.
          </p>
        </div>

        <div id="exp_container_1">
          <div id="left">
            <div id="vertical_line"></div>
            <div id="description">
              <h1 id="project_title">Pipe Head Horror City</h1>
              <h3>Unity Developer</h3>
              <p id="project_info">
                Developed an innovative horror game with mechanics of 3D puzzle
                games and first-person shooting, which resulted in successful
                outcomes on the Android platform.
              </p>
            </div>
          </div>
          <div id="right">
            <div id="project_icon" class="city"></div>
          </div>
        </div>

        <div id="exp_container">
          <div id="left">
            <div id="vertical_line"></div>
            <div id="description">
              <h1 id="project_title">Bigfoot Monster Hunting Quest</h1>
              <h3>Unity Developer</h3>
              <p id="project_info">
                I designed a hunting game at TX Dynamics that incorporated
                first-person shooting mechanics and advanced AI. In this
                immersive experience, players track and hunt a formidable beast,
                which poses a threat to the main character while actively
                avoiding the player's pursuit. To aid in the hunt, players are
                equipped with an array of weapons and tools to overcome the
                challenges posed by the beast.
              </p>
            </div>
          </div>
          <div id="right">
            <div id="project_icon" class="Bigfoot"></div>
          </div>
        </div>

        <div id="exp_container">
          <div id="left">
            <div id="vertical_line"></div>
            <div id="description">
              <h1 id="project_title">Mother Simulator Virtual Baby</h1>
              <h3>Unity Developer</h3>
              <p id="project_info">
                Developed and maintained a game portraying the life of a
                housewife and mother, where players perform tasks such as taking
                care of children and husband, doing household chores, and more.
              </p>
            </div>
          </div>
          <div id="right">
            <div id="project_icon" class="mother"></div>
          </div>
        </div>

        <div id="exp_container">
          <div id="left">
            <div id="vertical_line"></div>
            <div id="description">
              <h1 id="project_title">Cargo Offroad Transport Truck</h1>
              <h3>Unity Developer</h3>
              <p id="project_info">
                At FOG Technologies, I contributed to a simulation game where
                players assume the role of a truck driver. In this immersive
                experience, players witness the journey of a truck driver,
                starting from towing damaged vehicles to the workshop,
                transporting brand new cars to showrooms, and addressing any
                issues with the truck at the workshop. Additionally, players
                must manage the fuel levels in their trucks to ensure they can
                complete their tasks effectively.
              </p>
            </div>
          </div>
          <div id="right">
            <div id="project_icon" class="truck"></div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer">
        <div id="copyRight">
          <p>&copy 2025 By Ahmed Ilyas</p>
          <p>Powered and Secured By Wix</p>
        </div>
        <div id="contact">
          <ul id="required_info">
            <li>Call</li>
            <li>Write</li>
            <li>Follow</li>
          </ul>
          <br />
          <br />
          <ul id="providedInfo">
            <li id="number">0092-3324965827</li>
            <li id="mail">ahmedilyas621@gmail.com</li>
          </ul>
          <ul id="socialBar">
            <li>
              <a href=""><img class="social_icons" src="../images/fb.png" /></a>
            </li>
            <li>
              <a href=""><img class="social_icons" src="../images/X.png" /></a>
            </li>
            <li>
              <a href=""
                ><img class="social_icons" src="../images/link.png"
              /></a>
            </li>
            <li>
              <a href=""
                ><img class="social_icons" src="../images/insta.png"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- <div id="exp_container_1">
  <div id="left">
    <div id="vertical_line"></div>
    <div id="description">
      <h1 id="project_title">Pipe Head Horror City</h1>
      <h3>Unity Developer</h3>
      <p id="project_info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id odio
        mollitia delectus expedita qui deserunt, tenetur accusantium, iste harum
        ratione eum voluptatibus nihil vel, consequuntur tempora. Quo nostrum
        laborum aperiam.
      </p>
    </div>
  </div>
  <div id="right">
    <div id="project_icon"></div>
  </div>
</div> -->
