<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/projects.css">
    <title>Projects</title>
</head>
<body>
    <header>
        <div id="header">
            <div id="square"></div>
            <div id="title" class="inner">
                <h1 class="headings">Ahmed Ilyas</h1><h3 class="headings"> / </h3><h2 class="headings" id="role">UNITY GAME DEVELOPER</h2>
            </div>
            
            <div class="inner">
                <nav>
                    <ul>
                        <li><a href="../index.html">ABOUT ME</a></li>
                        <li><a href="Resume.html">RESUME</a></li>
                        <li><a href="#" style="color: blue;">PROJECTS</a></li>
                        <li><a href="contacts.html">CONTACT</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>
    <main>
        <div id="resume_content">
            
            <div id="box_talk">
                <div id="box"></div>           
                <h1 id="talk">Projects</h1>   
            </div>
            <div id="project_intro">
                <p id="intro_para">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis delectus vitae reprehenderit autem? Consectetur, odio ducimus voluptatum quaerat pariatur perferendis, ea eveniet optio dolore possimus suscipit, voluptatem minima voluptas velit.
                </p>
            </div>

            <div id="exp_container_1">
                <div id="project_description">
                    <div id="vertical_line">
                    </div>
                    <div id="description">
                        <h1 id="project_title">Pipe Head Horror City</h1>
                        <h4>Unity Developer</h4>
                        <p id="project_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id odio mollitia delectus expedita qui deserunt, tenetur accusantium, iste harum ratione eum voluptatibus nihil vel, consequuntur tempora. Quo nostrum laborum aperiam.</p>
                    </div>
                    <div id="project_icon">

                    </div>
                </div>
            </div>

            <div id="exp_container">
                <div id="project_description">
                    <div id="vertical_line">
                    </div>
                    <div id="description">
                        <h1 id="project_title">Pipe Head Horror City</h1>
                        <h4>Unity Developer</h4>
                        <p id="project_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id odio mollitia delectus expedita qui deserunt, tenetur accusantium, iste harum ratione eum voluptatibus nihil vel, consequuntur tempora. Quo nostrum laborum aperiam.</p>
                    </div>
                    <div id="project_icon">

                    </div>
                </div>
            </div>

            <div id="exp_container">
                <div id="project_description">
                    <div id="vertical_line">
                    </div>
                    <div id="description">
                        <h1 id="project_title">Pipe Head Horror City</h1>
                        <h4>Unity Developer</h4>
                        <p id="project_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id odio mollitia delectus expedita qui deserunt, tenetur accusantium, iste harum ratione eum voluptatibus nihil vel, consequuntur tempora. Quo nostrum laborum aperiam.</p>
                    </div>
                    <div id="project_icon">

                    </div>
                </div>
            </div>

            <div id="exp_container">
                <div id="project_description">
                    <div id="vertical_line">
                    </div>
                    <div id="description">
                        <h1 id="project_title">Pipe Head Horror City</h1>
                        <h4>Unity Developer</h4>
                        <p id="project_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id odio mollitia delectus expedita qui deserunt, tenetur accusantium, iste harum ratione eum voluptatibus nihil vel, consequuntur tempora. Quo nostrum laborum aperiam.</p>
                    </div>
                    <div id="project_icon">

                    </div>
                </div>
            </div>


        </div>
    </main>
    <footer>
        <div id="footer">
            <div id="copyRight">
                <p>&copy 2025 By Ahmed Ilyas</p>
                <p>Powered and Secured By Wix</p>
            </div>
            <div id="contact">
                <ul id="required_info">
                    <li>Call</li>
                    <li>Write</li>
                    <li>Follow</li>
                </ul>
                <br>
                <br>
                <ul id="providedInfo">
                    <li id="number">0092-3324965827</li>
                    <li id="mail">ahmedilyas621@gmail.com</li>
                </ul>
                <ul id="socialBar">
                    <li><a href=""><img class="social_icons" src="../images/fb.png"></a></li>
                    <li><a href=""><img class="social_icons" src="../images/X.png"></a></li>
                    <li><a href=""><img class="social_icons" src="../images/link.png"></a></li>
                    <li><a href=""><img class="social_icons" src="../images/insta.png"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>