<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/resume.css" />
    <title>RESUME</title>
  </head>
  <body>
    <header>
      <div id="header">
        <div id="square"></div>
        <div id="title" class="inner">
          <h1 class="headings">Ahmed Ilyas</h1>
          <h3 class="headings">/</h3>
          <h2 class="headings" id="role">UNITY GAME DEVELOPER</h2>
        </div>

        <div class="inner">
          <nav>
            <ul>
              <li><a href="../index.html">ABOUT ME</a></li>
              <li><a href="#" style="color: blue">RESUME</a></li>
              <li><a href="projects.html">PROJECTS</a></li>
              <li><a href="contacts.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div id="resume_content">
        <div id="box_talk">
          <div id="box"></div>
          <h1 id="talk">Resume</h1>
        </div>

        <div id="box_hading">
          <div id="box_title">
            <h1 id="exp_head">Experience</h1>
          </div>
          <div id="cv">
            <form
              id="cv"
              action="https://drive.google.com/file/d/1zVDkXLLMLKoqziJuiW3eEOJLh0x5y9l3/view?usp=sharing"
            >
              <input type="submit" id="download" value="DOWNLOAD CV" />
            </form>
          </div>
        </div>

        <div id="exp_container_1">
          <div id="left">
            <h1 class="project_title">2022 - 2024</h1>
            <h4 class="role">UNITY DEVELOPER</h4>
            <h4 class="role">TX Dynamics</h4>
            <h4 class="role">Lahore, Pakistan</h4>
          </div>
          <div id="right">
            <p class="companyInfo">
              At TX Dynamics, I developed and maintained various types of games,
              including 2D and 3D games such as simulations, horror, open-world,
              and fighting games. These games were designed to prioritize user
              engagement and retention. Analytics were integrated into them to
              track user behavior during gameplay and address any issues that
              users encountered.
            </p>
          </div>
        </div>

        <div id="exp_container">
          <div id="left">
            <h1 class="project_title">2019 - 2022</h1>
            <h4 class="role">UNITY DEVELOPER</h4>
            <h4 class="role">FOG Technologies</h4>
            <h4 class="role">Lahore, Pakistan</h4>
          </div>
          <div id="right">
            <p class="companyInfo">
              At FOG Technologies, I worked on all kinds of games like 2D and 3D
              ones, including simulations, horror, open-world, and fighting
              games. The main goal was to keep players interested and coming
              back for more. I also added analytics tools to track how players
              behaved while playing, so we could fix any problems quickly.
            </p>
          </div>
        </div>

        <div id="exp_container">
          <div id="left">
            <h1 class="project_title">2018 - 2019</h1>
            <h4 class="role">UNITY DEVELOPER</h4>
            <h4 class="role">Appstract Studio</h4>
            <h4 class="role">Lahore, Pakistan</h4>
          </div>
          <div id="right">
            <p class="companyInfo">
              At Appstract studio I developed different kinds of 3D games
              including shooting, simulation and fighting. These games were
              designed to prioritize user engagement and retention. Analytics
              were integrated into them to track user behavior during gameplay
              and address any issues that users encountered.
            </p>
          </div>
        </div>

        <div id="exp_container">
          <div id="left">
            <h1 class="project_title">2016 - 2017</h1>
            <h4 class="role">UNITY DEVELOPER</h4>
            <h4 class="role">Let's Game</h4>
            <h4 class="role">Lahore, Pakistan</h4>
          </div>
          <div id="right">
            <p class="companyInfo">
              During my three-month internship at Let's Game, I focused on Unity
              game development, completing tasks to prove my skills for a
              permanent position. Gaining hands-on experience and collaborating
              with experienced developers, I showcased my commitment to learning
              and growth, positioning myself for a permanent role at Let's Game.
            </p>
          </div>
        </div>

        <div id="box_hading">
          <div id="box_title">
            <h1 id="exp_head">Education</h1>
          </div>
        </div>

        <div id="exp_container_1">
          <div id="left">
            <h1 class="project_title">2013 - 2017</h1>
            <h4 class="role">NCBA&E DHA Campus</h4>
            <h4 class="role">BS Computer Science</h4>
            <h4 class="role">Lahore, Pakistan</h4>
          </div>
          <div id="right">
            <p class="companyInfo">
              My Bachelor's degree in Computer Science equipped me with a solid
              foundation in problem-solving and analytical thinking. Through
              coursework and projects, I developed strong critical thinking
              skills and learned to approach challenges systematically.
            </p>
          </div>
        </div>

        <div id="exp_container">
          <div id="left">
            <h1 class="project_title">2010 - 2012</h1>
            <h4 class="role">APSACS</h4>
            <h4 class="role">H-SSC</h4>
            <h4 class="role">Lahore, Pakistan</h4>
          </div>
          <div id="right">
            <p class="companyInfo">
              I pursued my studies in Computer Science at APSACS. This
              educational journey provided me with a robust foundation in
              problem-solving and analytical thinking. Through engaging
              coursework and hands-on projects, I honed my critical thinking
              skills and learned to approach challenges systematically.
            </p>
          </div>
        </div>

        <div id="skills_hobbies">
          <div id="up">
            <h2 id="skills">Professional skillset</h2>
            <div id="keys">
              <div class="upperValues">
                <div class="val1">
                  <div class="keyBox"></div>
                  <h2 class="skillKey">Unity 2D/3D</h2>
                </div>
                <div class="val2">
                  <div class="keyBox"></div>
                  <h2 class="skillKey">Coding</h2>
                </div>
              </div>
              <div class="LowerValues">
                <div class="val1">
                  <div class="keyBox"></div>
                  <h2 class="skillKey">Game AI</h2>
                </div>
                <div class="val2">
                  <div class="keyBox"></div>
                  <h2 class="skillKey">Debugging</h2>
                </div>
              </div>
            </div>
          </div>
          <div id="down">
            <h2 id="skills">Languages</h2>
            <div id="keys">
              <div class="upperValues">
                <div class="val1">
                  <div class="keyBox"></div>
                  <h2 class="skillKey">English</h2>
                </div>
                <div class="val2">
                  <div class="keyBox"></div>
                  <h2 class="skillKey">Urdu</h2>
                </div>
              </div>
              <div class="LowerValues">
                <div class="val1">
                  <div class="keyBox"></div>
                  <h2 class="skillKey">Punjabi</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer">
        <div id="copyRight">
          <p>&copy 2025 By Ahmed Ilyas</p>
          <p>Powered and Secured By Wix</p>
        </div>
        <div id="contact">
          <ul id="required_info">
            <li>Call</li>
            <li>Write</li>
            <li>Follow</li>
          </ul>
          <br />
          <br />
          <ul id="providedInfo">
            <li id="number">0092-3324965827</li>
            <li id="mail">ahmedilyas621@gmail.com</li>
          </ul>
          <ul id="socialBar">
            <li>
              <a href=""><img class="social_icons" src="../images/fb.png" /></a>
            </li>
            <li>
              <a href=""><img class="social_icons" src="../images/X.png" /></a>
            </li>
            <li>
              <a href=""
                ><img class="social_icons" src="../images/link.png"
              /></a>
            </li>
            <li>
              <a href=""
                ><img class="social_icons" src="../images/insta.png"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
