<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/contact.css" />
    <link rel="stylesheet" type="text/css" href="../styles/form.css" />
    <script src="../script/validation.js"></script>
    <title>CONTACT</title>
  </head>
  <body>
    <header>
      <div id="header">
        <div id="square"></div>
        <div id="title" class="inner">
          <h1 class="headings">Ahmed Ilyas</h1>
          <h3 class="headings">/</h3>
          <h2 class="headings" id="role">UNITY GAME DEVELOPER</h2>
        </div>

        <div class="inner">
          <nav>
            <ul>
              <li><a href="../Index.html">ABOUT ME</a></li>
              <li><a href="Resume.html">RESUME</a></li>
              <li><a href="projects.html">PROJECTS</a></li>
              <li><a href="contacts.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div id="contact_form">
        <div id="box_talk" style="margin: 500px 0px 0px 700px">
          <div id="box"></div>
          <h1 id="talk">Thank You!</h1>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer">
        <div id="copyRight">
          <p>&copy 2025 By Ahmed Ilyas</p>
          <p>Powered and Secured By Wix</p>
        </div>
        <div id="contact">
          <ul id="required_info">
            <li>Call</li>
            <li>Write</li>
            <li>Follow</li>
          </ul>
          <br />
          <br />
          <ul id="providedInfo">
            <li id="number">0092-3324965827</li>
            <li id="mail">ahmedilyas621@gmail.com</li>
          </ul>
          <ul id="socialBar">
            <li>
              <a href=""><img class="social_icons" src="../images/fb.png" /></a>
            </li>
            <li>
              <a href=""><img class="social_icons" src="../images/X.png" /></a>
            </li>
            <li>
              <a href=""
                ><img class="social_icons" src="../images/link.png"
              /></a>
            </li>
            <li>
              <a href=""
                ><img class="social_icons" src="../images/insta.png"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
